NEXT_PUBLIC_API_URL=http://localhost:5000
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=super_secret_nextauth_secret_key_2026

# Lấy từ GitHub Developer Settings (Tạo một OAuth App mới)
GITHUB_ID=
GITHUB_SECRET=

# Lấy từ Google Cloud Console (APIs & Services -> Credentials)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# URL luồng Video Stream TRỰC TIẾP từ con Chip ESP32-CAM lên Web
# (Hãy thay 192.168.1.xxx bằng IP thực của điện thoại/ESP32-CAM của bạn)
NEXT_PUBLIC_CAMERA_STREAM_URL=http://192.168.1.100:81/stream